// =============================================================================
// MIXINS FOR SECTIONS
// =============================================================================
@mixin sections($bg:null,$position:null,$size:cover,$color:$white_color,$height:100vh) {
  height:$height;
  color: $color;
  @include background_image($bg, $size);
  background-position: $position;
}
@mixin row_sections($justify:center,$display:flex,$align:center,$height:100vh) {
  display:$display;
  align-items:$align;
  height:$height;
  justify-content:$justify;
}

// =============================================================================
