// =============================================================================
// MIXINS FOR FONT-FACE
// =============================================================================

// String Replace
@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// Font Face
@mixin font-face($name, $path, $weight: null, $style: null, $exts:ttf) {
  $src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
}
}
// =============================================================================

// =============================================================================
// MIXINS FOR FONT STYLE
// =============================================================================
@mixin fontstyle($font:null,$letterSpacing:null,$fontsize:null, $color:$black_color) {
  font-family: $font;
  letter-spacing: $letterSpacing;
  font-size: $fontsize;
  color:$color;
}

// =============================================================================

// =============================================================================
// MIXINS FOR SECTIONS
// =============================================================================
@mixin sections($bg:null,$color:$white_color,$height:100vh,$padding:0.5rem 0 0 0) {
  height:$height;
  padding:$padding;
  color: $color;
  @include background_image($bg);
}
@mixin row_sections($justify:center,$display:flex,$align:center,$height:100vh) {
  display:$display;
  align-items:$align;
  height:$height;
  justify-content:$justify;
}

// =============================================================================

// =============================================================================
// MIXINS FOR BACKGROUND-IMAGE
// =============================================================================
@mixin background_image($imgpath,$size:cover,$position:null ,$repeat: no-repeat) {
    background: {
        image: url($imgpath);
        position: $position;
        repeat: $repeat;
        size: $size;
    }
}
// =============================================================================

// =============================================================================
// MIXINS FOR CATEGORIE BOX (HER,HIM,SPA)
// =============================================================================
@mixin category_box($txtalign: center,$bg:$whiteWopacity_color,$color: $black_color,$padding: 2rem 4rem) {
  text-align: $txtalign;
  background-color: $bg;
  color: $color;
  padding: $padding;
}

@mixin category_box_content($display: inline-block,$border-b: 1px solid $orange_color,$border-t: 1px solid $orange_color,$margin: 1rem 0 2rem 0,$padding: 1.5rem 0) {
  display: $display;
  border-bottom: $border-b;
  border-top: $border-t;
  margin: $margin;
  padding: $padding;
}
// =============================================================================

// =============================================================================
// MIXINS FOR OPTNS SECTIONS (HER_OPTNS,HIM_OPTNS,SPA_OPTNS)
// =============================================================================
@mixin height_items_container($height: 80vh,$overflow: auto) {
  height: $height;
  overflow: $overflow;
}
@mixin items_btnBook($margin: 0,$bg: $orange_color,$padding: 0.7rem 1rem) {
  margin: $margin;
  background: $bg;
  padding: $padding;
}
@mixin items_msgBook($margin: 0,$padding: 0 0 0 3%, $bcolor:$orange_color) {
  margin: 0;
  padding: 0 0 0 3%;
  font-weight: bold;
  b{
    color:$bcolor;
  }
}
// =============================================================================
