.ngIncludeItem {
    top: 35px;
    bottom: 0;
    right: 0;
    left: 0;
    animation-duration: 0.30s;
    animation-timing-function: ease-in-out;
    -webkit-animation-duration: 0.30s;
    -webkit-animation-timing-function: ease-in-out;
}

.page {
    position: inherit;
    top: 0;
    right: inherit;
    bottom: inherit;
    left: inherit;
}

.firstPage {
    background-color: blue;
}

.secondPage {
    background-color: red;
}

.thirdPage {
    background-color: green;
}

/* When the page enters, slide it from the right */
.ngIncludeItem.ng-enter {
    animation-name: slideFromRight;
    -webkit-animation-name: slideFromRight;
}
/* When the page enters and moveToLeft is true, slide it from the left(out of the user view) to the right (left corner) */
.ngIncludeItem.moveToLeft.ng-enter {
    animation-name: slideFromLeft;
    -webkit-animation-name: slideFromLeft;
}
/* When the page leaves, slide it to left(out of the user view) from the left corner,
    in other words slide it from the left(out of the view) to the left corner but in reverse order */
.ngIncludeItem.ng-leave {
    animation-name: slideFromLeft;
    animation-direction: reverse;
    -webkit-animation-name: slideFromLeft;
    -webkit-animation-direction: reverse;
}
/* When the page leaves, slide it to the right(out of the user view) from the the left corner,
    in other words, slide it from the right but in reverse order  */
.ngIncludeItem.moveToLeft.ng-leave {
    animation-name: slideFromRight;
    animation-direction: reverse;
    -webkit-animation-name: slideFromRight;
    -webkit-animation-direction: reverse;
}

@keyframes slideFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes slideFromRight {
    0% {
        -webkit-transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(0);
    }
}

@-webkit-keyframes slideFromLeft {
    0% {
        -webkit-transform: translateX(-100%);
    }

    100% {
        -webkit-transform: translateX(0);
    }
}
#special_gifts{
  @include sections(null,$black_color);
  .l-sg{
    height:100vh;
    padding:0 0 0 10%;

    h3{
      margin: 0;
      @include fontstyle($head-giftLFont,5px,null);
    }
    div{
      border-bottom: 1px solid $orange_color;
      width: 4rem;
      margin: 2% 0;
    }
    p{
      @include fontstyle($info-itemFont,1px,14px);
    }
  }
  .r-sg{
    @include custom-select();
    h6{
      @include fontstyle($sidemenu-itemFont,5px,16px);
    }
    form{
      @include fontstyle($sidemenu-itemFont,null,12px);
      .form-divs{
        display: flex;
        align-items: center;
        padding: 1% 0;
        .lbl-divs{
          display: inline-flex;
          flex-basis:15%;
          label{
            margin: 0;
          }
        }
        .lbl-optns-divs{
          display: inline-flex;
          flex-basis:85%;
          p{
            cursor: pointer;
            margin: 0 2% 0 0;
            padding: 1% 2%;
            border: 1px solid;
          }
          label{
            font-family: SegoeUIRegular;
            color: red;
            letter-spacing: 1px;
            font-size: 10px;
          }
        }
        .lbl-optns-inpt{
          display: inline-flex;
          flex-basis:50%;
          input,textarea{
            width: 100%;
            font-family: SegoeUIRegular;
            font-size: 10px;
            text-transform: lowercase;
            border: 1px solid black;
            padding: 2%;
          }
        }
      }
      .line-bottom-sg{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3% 0;
        border-top: 1px solid $orange_color;
        width: 65%;
        margin: 5% 0;
        .add-gc{
          @include items_btnBook($white-color,1px);
          border: 0;
        }
        p{
          color:$orange_color;
          border: 0;
          margin: 0 0 0 0;
          padding: 0;
        }
        .terms-p{
          @include fontstyle($Terms-sgFont,null,12px);
          padding-top: 5%;
          b{
            color: $orange_color;
          }
        }
      }
    }
    // .col-md-12{
    //   height:100vh;
    //   .title-gcd{
    //     @include fontstyle($sidemenu-itemFont,5px,16px);
    //   }
    //   form{
    //     @include fontstyle($sidemenu-itemFont,null,12px);
    //     label{
    //       margin: 0;
    //       width: 15%;
    //     }
    //     p{
    //       cursor: pointer;
    //       margin: 0 1%;
    //       padding: 1% 2%;
    //       border: 1px solid;
    //     }
    //     input{
    //       margin: 0 1%;
    //       width: 60%;
    //       border: 1px solid black;
    //       padding: 1%;
    //     }
    //     textarea{
    //       margin: 0 1%;
    //       width: 60%;
    //       border: 1px solid black;
    //       padding: 1%;
    //     }
    //     .add-gc{
    //       @include items_btnBook($white-color);
    //       border: 0;
    //
    //     }
    //   }
    // }
  }
}
