@font-face {
  font-family: "SegoeUIItalic";
  src: url("fonts/SegoeUIItalic.ttf") format("truetype"); }
@font-face {
  font-family: "SegoeUILightItalic";
  src: url("fonts/SegoeUILightItalic.ttf") format("truetype"); }
@font-face {
  font-family: "SegoeUILightRegular";
  src: url("fonts/SegoeUILightRegular.ttf") format("truetype"); }
@font-face {
  font-family: "SegoeUIRegular";
  src: url("fonts/SegoeUIRegular.ttf") format("truetype"); }
@font-face {
  font-family: "SegoeUISemiboldItalic";
  src: url("fonts/SegoeUISemiboldItalic.ttf") format("truetype"); }
@font-face {
  font-family: "SegoeUISemiboldRegular";
  src: url("fonts/SegoeUISemiboldRegular.ttf") format("truetype"); }
@font-face {
  font-family: "SegoeUISemiLightRegular";
  src: url("fonts/SegoeUISemiLightRegular.ttf") format("truetype"); }
/* H1 de titulos (MAIN, HER, HIM, SPA) */
/* H6 de subtitulo (MAIN) */
/* P para descripcion de titulos(HER, HIM, SPA) */
/*Font de sidemenu de secciones OPTNS*/
/*font de titulo de item*/
/* font de info de item*/
/*font de boton book xperience de items*/
/*font de mensaje a la par de btn book xperience*/
.c-pointer {
  cursor: pointer; }

.w-border-radius {
  border-radius: 0; }

#sento-nav {
  background: white; }
  #sento-nav #sento-nav-menu {
    height: 4rem;
    align-items: center;
    padding: 0 1%;
    justify-content: space-around;
    font-family: SegoeUISemiboldRegular;
    font-size: 14px;
    color: black;
    border-top: 1px solid #757575;
    border-bottom: 1px solid #757575; }
    #sento-nav #sento-nav-menu .nav-divs {
      height: 100%;
      flex-grow: 1;
      align-items: center;
      justify-content: space-around; }
      #sento-nav #sento-nav-menu .nav-divs:nth-child(1) {
        flex-grow: 3; }
      #sento-nav #sento-nav-menu .nav-divs:nth-child(2) {
        justify-content: end; }
        #sento-nav #sento-nav-menu .nav-divs:nth-child(2) i, #sento-nav #sento-nav-menu .nav-divs:nth-child(2) button {
          display: flex;
          align-items: center; }
        #sento-nav #sento-nav-menu .nav-divs:nth-child(2) i {
          font-size: 1.5rem; }
        #sento-nav #sento-nav-menu .nav-divs:nth-child(2) button {
          background: transparent;
          border: 1px solid black;
          font-family: SegoeUIRegular;
          font-size: 10px;
          color: black;
          font-weight: bold;
          padding: 0 5%; }
          #sento-nav #sento-nav-menu .nav-divs:nth-child(2) button:nth-child(4) {
            background-color: #b28657;
            color: white;
            border: none; }
    #sento-nav #sento-nav-menu .nav-opt {
      flex-grow: 1;
      justify-content: center; }
      #sento-nav #sento-nav-menu .nav-opt:nth-child(1) {
        flex-grow: 3; }
    #sento-nav #sento-nav-menu span {
      display: flex;
      justify-content: space-around !important; }
    #sento-nav #sento-nav-menu a {
      display: flex;
      color: black; }
  #sento-nav #sento-nav-submenu {
    height: 4rem;
    display: none; }

#main {
  height: 100vh;
  padding: 0.5rem 0 0 0;
  color: white;
  background-image: url("../Images/sections/4.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  #main .row {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center; }
    #main .row .col-md-12 {
      text-align: center; }
      #main .row .col-md-12 h1 {
        font-family: SegoeUILightRegular;
        letter-spacing: 0.8rem;
        color: white; }
    #main .row .col-md-5 {
      border-bottom: 1px solid white;
      margin: 0 auto; }
    #main .row .col-md-6 {
      margin: 0 auto;
      background-color: rgba(242, 242, 242, 0.7); }
      #main .row .col-md-6 h6 {
        font-family: SegoeUISemiboldRegular;
        letter-spacing: 0.2rem;
        color: black;
        padding: 0.4rem 0; }

#her {
  height: 100vh;
  padding: 0.5rem 0 0 0;
  color: white;
  background-image: url("../Images/sections/5.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  #her .row {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: right; }
    #her .row .col-md-5 {
      text-align: center;
      background-color: rgba(242, 242, 242, 0.7);
      color: black;
      padding: 2rem 4rem; }
      #her .row .col-md-5 h1 {
        font-family: SegoeUILightRegular;
        letter-spacing: 0.6rem;
        color: black;
        display: inline-block;
        border-bottom: 1px solid #b28657;
        border-top: 1px solid #b28657;
        margin: 1rem 0 2rem 0;
        padding: 1.5rem 0; }
      #her .row .col-md-5 p {
        font-family: SegoeUIRegular;
        font-size: 14px;
        color: black; }

#her_optns {
  height: 100vh;
  padding: 5.5rem 0 0 0;
  color: black;
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover; }
  #her_optns .row .col-md-3 {
    line-height: 0.8rem;
    padding: 1% 0 0 2%; }
    #her_optns .row .col-md-3 p {
      font-family: SegoeUISemiboldRegular;
      font-size: 12px;
      color: black; }
  #her_optns .row .col-md-8 {
    height: 80vh;
    overflow: auto; }
    #her_optns .row .col-md-8 .row .head-item h3 {
      margin: 0;
      font-family: SegoeUILightRegular;
      letter-spacing: 2px;
      font-size: 25px;
      color: black; }
    #her_optns .row .col-md-8 .row .head-item .pr-5 {
      border-right: 2px solid black; }
    #her_optns .row .col-md-8 .row .info-item p {
      font-family: SegoeUIRegular;
      letter-spacing: 1px;
      font-size: 14px;
      color: black; }
    #her_optns .row .col-md-8 .row .btns-item .btnBook {
      font-family: SegoeUISemiboldRegular;
      letter-spacing: 1px;
      font-size: 12px;
      color: white;
      color: white;
      margin: 0;
      background: #b28657;
      padding: 0.7rem 1rem; }
    #her_optns .row .col-md-8 .row .btns-item .msgBook {
      font-family: SegoeUILightRegular;
      font-size: 14px;
      color: black;
      margin: 0;
      padding: 0 0 0 3%;
      font-weight: bold; }
      #her_optns .row .col-md-8 .row .btns-item .msgBook b {
        color: #b28657; }

#him {
  height: 100vh;
  padding: 0.5rem 0 0 0;
  color: white;
  background-image: url("../Images/sections/3.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  #him .row {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center; }
    #him .row .col-md-5 {
      text-align: center;
      background-color: rgba(242, 242, 242, 0.7);
      color: black;
      padding: 2rem 4rem; }
      #him .row .col-md-5 h1 {
        font-family: SegoeUILightRegular;
        letter-spacing: 0.6rem;
        color: black;
        display: inline-block;
        border-bottom: 1px solid #b28657;
        border-top: 1px solid #b28657;
        margin: 1rem 0 2rem 0;
        padding: 1.5rem 0; }
      #him .row .col-md-5 p {
        font-family: SegoeUIRegular;
        font-size: 14px;
        color: black; }

#him_optns {
  height: 100vh;
  padding: 5.5rem 0 0 0;
  color: black;
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover; }
  #him_optns .row .col-md-3 {
    line-height: 0.8rem;
    padding: 1% 0 0 2%; }
    #him_optns .row .col-md-3 p {
      font-family: SegoeUISemiboldRegular;
      font-size: 12px;
      color: black; }
  #him_optns .row .col-md-8 {
    height: 80vh;
    overflow: auto; }
    #him_optns .row .col-md-8 .row .head-item h3 {
      margin: 0;
      font-family: SegoeUILightRegular;
      letter-spacing: 2px;
      font-size: 25px;
      color: black; }
    #him_optns .row .col-md-8 .row .head-item .pr-5 {
      border-right: 2px solid black; }
    #him_optns .row .col-md-8 .row .info-item p {
      font-family: SegoeUIRegular;
      letter-spacing: 1px;
      font-size: 14px;
      color: black; }
    #him_optns .row .col-md-8 .row .btns-item .btnBook {
      font-family: SegoeUISemiboldRegular;
      letter-spacing: 1px;
      font-size: 12px;
      color: white;
      color: white;
      margin: 0;
      background: #b28657;
      padding: 0.7rem 1rem; }
    #him_optns .row .col-md-8 .row .btns-item .msgBook {
      font-family: SegoeUILightRegular;
      font-size: 14px;
      color: black;
      margin: 0;
      padding: 0 0 0 3%;
      font-weight: bold; }
      #him_optns .row .col-md-8 .row .btns-item .msgBook b {
        color: #b28657; }

#spa {
  height: 100vh;
  padding: 0.5rem 0 0 0;
  color: white;
  background-image: url("../Images/sections/2.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  #spa .row {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center; }
    #spa .row .col-md-5 {
      text-align: center;
      background-color: rgba(242, 242, 242, 0.7);
      color: black;
      padding: 2rem 4rem; }
      #spa .row .col-md-5 h1 {
        font-family: SegoeUILightRegular;
        letter-spacing: 0.6rem;
        color: black;
        display: inline-block;
        border-bottom: 1px solid #b28657;
        border-top: 1px solid #b28657;
        margin: 1rem 0 2rem 0;
        padding: 1.5rem 0;
        width: 90%; }
      #spa .row .col-md-5 p {
        font-family: SegoeUIRegular;
        font-size: 14px;
        color: black; }

#spa_optns {
  height: 100vh;
  padding: 5.5rem 0 0 0;
  color: black;
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover; }
  #spa_optns .row .col-md-3 {
    line-height: 0.8rem;
    padding: 1% 0 0 2%; }
    #spa_optns .row .col-md-3 p {
      font-family: SegoeUISemiboldRegular;
      font-size: 12px;
      color: black; }
  #spa_optns .row .col-md-8 {
    height: 80vh;
    overflow: auto; }
    #spa_optns .row .col-md-8 .row .head-item h3 {
      margin: 0;
      font-family: SegoeUILightRegular;
      letter-spacing: 2px;
      font-size: 25px;
      color: black; }
    #spa_optns .row .col-md-8 .row .head-item .pr-5 {
      border-right: 2px solid black; }
    #spa_optns .row .col-md-8 .row .info-item p {
      font-family: SegoeUIRegular;
      letter-spacing: 1px;
      font-size: 14px;
      color: black; }
    #spa_optns .row .col-md-8 .row .btns-item .btnBook {
      font-family: SegoeUISemiboldRegular;
      letter-spacing: 1px;
      font-size: 12px;
      color: white;
      color: white;
      margin: 0;
      background: #b28657;
      padding: 0.7rem 1rem; }
    #spa_optns .row .col-md-8 .row .btns-item .msgBook {
      font-family: SegoeUILightRegular;
      font-size: 14px;
      color: black;
      margin: 0;
      padding: 0 0 0 3%;
      font-weight: bold; }
      #spa_optns .row .col-md-8 .row .btns-item .msgBook b {
        color: #b28657; }

.ngIncludeItem {
  top: 35px;
  bottom: 0;
  right: 0;
  left: 0;
  animation-duration: 0.30s;
  animation-timing-function: ease-in-out;
  -webkit-animation-duration: 0.30s;
  -webkit-animation-timing-function: ease-in-out; }

.page {
  position: inherit;
  top: 0;
  right: inherit;
  bottom: inherit;
  left: inherit; }

.firstPage {
  background-color: blue; }

.secondPage {
  background-color: red; }

.thirdPage {
  background-color: green; }

/* When the page enters, slide it from the right */
.ngIncludeItem.ng-enter {
  animation-name: slideFromRight;
  -webkit-animation-name: slideFromRight; }

/* When the page enters and moveToLeft is true, slide it from the left(out of the user view) to the right (left corner) */
.ngIncludeItem.moveToLeft.ng-enter {
  animation-name: slideFromLeft;
  -webkit-animation-name: slideFromLeft; }

/* When the page leaves, slide it to left(out of the user view) from the left corner,
    in other words slide it from the left(out of the view) to the left corner but in reverse order */
.ngIncludeItem.ng-leave {
  animation-name: slideFromLeft;
  animation-direction: reverse;
  -webkit-animation-name: slideFromLeft;
  -webkit-animation-direction: reverse; }

/* When the page leaves, slide it to the right(out of the user view) from the the left corner,
    in other words, slide it from the right but in reverse order  */
.ngIncludeItem.moveToLeft.ng-leave {
  animation-name: slideFromRight;
  animation-direction: reverse;
  -webkit-animation-name: slideFromRight;
  -webkit-animation-direction: reverse; }

@keyframes slideFromRight {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0); } }
@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }
@-webkit-keyframes slideFromRight {
  0% {
    -webkit-transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(0); } }
@-webkit-keyframes slideFromLeft {
  0% {
    -webkit-transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0); } }
#special_gifts {
  height: 100vh;
  padding: 0.5rem 0 0 0;
  color: black;
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover; }
  #special_gifts .l-sg {
    height: 100vh;
    padding: 0 0 0 10%; }
    #special_gifts .l-sg h3 {
      margin: 0;
      font-family: SegoeUILightRegular;
      letter-spacing: 5px;
      color: black; }
    #special_gifts .l-sg div {
      border-bottom: 1px solid #b28657;
      width: 4rem;
      margin: 2% 0; }
    #special_gifts .l-sg p {
      font-family: SegoeUIRegular;
      letter-spacing: 1px;
      font-size: 14px;
      color: black; }
  #special_gifts .r-sg .body-container {
    width: 100%;
    border: 1.5px solid black;
    cursor: pointer;
    background: white; }
  #special_gifts .r-sg .option-container {
    margin: 0px;
    width: 100%;
    padding: 0px; }
    #special_gifts .r-sg .option-container li {
      list-style: none;
      border-top: 1.5px solid black;
      padding: 0.5rem; }
      #special_gifts .r-sg .option-container li label {
        margin: 0; }
  #special_gifts .r-sg h6 {
    font-family: SegoeUISemiboldRegular;
    letter-spacing: 5px;
    font-size: 16px;
    color: black; }
  #special_gifts .r-sg form {
    font-family: SegoeUISemiboldRegular;
    font-size: 12px;
    color: black; }
    #special_gifts .r-sg form .form-divs {
      display: flex;
      align-items: center;
      padding: 1% 0; }
      #special_gifts .r-sg form .form-divs .lbl-divs {
        display: inline-flex;
        flex-basis: 15%; }
        #special_gifts .r-sg form .form-divs .lbl-divs label {
          margin: 0; }
      #special_gifts .r-sg form .form-divs .lbl-optns-divs {
        display: inline-flex;
        flex-basis: 85%; }
        #special_gifts .r-sg form .form-divs .lbl-optns-divs p {
          cursor: pointer;
          margin: 0 2% 0 0;
          padding: 1% 2%;
          border: 1px solid; }
        #special_gifts .r-sg form .form-divs .lbl-optns-divs label {
          font-family: SegoeUIRegular;
          color: red;
          letter-spacing: 1px;
          font-size: 10px; }
      #special_gifts .r-sg form .form-divs .lbl-optns-inpt {
        display: inline-flex;
        flex-basis: 50%; }
        #special_gifts .r-sg form .form-divs .lbl-optns-inpt input, #special_gifts .r-sg form .form-divs .lbl-optns-inpt textarea {
          width: 100%;
          font-family: SegoeUIRegular;
          font-size: 10px;
          text-transform: lowercase;
          border: 1px solid black;
          padding: 2%; }
    #special_gifts .r-sg form .line-bottom-sg {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 3% 0;
      border-top: 1px solid #b28657;
      width: 65%;
      margin: 5% 0; }
      #special_gifts .r-sg form .line-bottom-sg .add-gc {
        color: white;
        letter-spacing: 1px;
        margin: 0;
        background: #b28657;
        padding: 0.7rem 1rem;
        border: 0; }
      #special_gifts .r-sg form .line-bottom-sg p {
        color: #b28657;
        border: 0;
        margin: 0 0 0 0;
        padding: 0; }
      #special_gifts .r-sg form .line-bottom-sg .terms-p {
        font-family: SegoeUIRegular;
        font-size: 12px;
        color: black;
        padding-top: 5%; }
        #special_gifts .r-sg form .line-bottom-sg .terms-p b {
          color: #b28657; }

#contactus {
  background: black;
  height: 100vh;
  color: black;
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover; }
  #contactus .row {
    height: 100vh; }
    #contactus .row #map {
      height: 20rem;
      background: white;
      margin-top: 10%; }
  #contactus .contact-container {
    color: white; }
    #contactus .contact-container div {
      flex-grow: 2;
      flex-basis: 0;
      padding: 2%; }
      #contactus .contact-container div p {
        font-family: SegoeUILightRegular;
        letter-spacing: 2px;
        font-size: 12px;
        color: white; }
      #contactus .contact-container div .c-title {
        margin: 0; }
      #contactus .contact-container div .c-sub {
        color: #757575; }
    #contactus .contact-container .c-reserva b {
      color: #b28657; }
    #contactus .contact-container .c-reserva button {
      background: transparent;
      color: gray;
      border: 1px solid;
      font-family: SegoeUILightRegular;
      letter-spacing: 2px;
      font-size: 12px;
      color: #757575;
      padding: 2% 4%; }
    #contactus .contact-container .c-news .input-group {
      padding: 0; }
      #contactus .contact-container .c-news .input-group input, #contactus .contact-container .c-news .input-group button {
        border-radius: 0; }
      #contactus .contact-container .c-news .input-group input {
        font-family: SegoeUIRegular;
        font-size: 12px;
        color: #757575;
        background: rgba(242, 242, 242, 0.1);
        border-color: transparent; }
        #contactus .contact-container .c-news .input-group input:focus {
          border-color: #b28657;
          box-shadow: none;
          -webkit-box-shadow: none;
          outline: -webkit-focus-ring-color auto 5px; }
      #contactus .contact-container .c-news .input-group button {
        border-color: #b28657;
        background-color: #b28657; }
    #contactus .contact-container .c-connect {
      flex-grow: 1; }
      #contactus .contact-container .c-connect i {
        border: 1px solid;
        padding: 4% 8%;
        margin: 0 2%; }

/*# sourceMappingURL=SentoStyle.css.map */
