<div class="container">
	<div class="row">
		<div class="col-md-6 d-flex flex-column justify-content-center l-sg">
			<h3>SAPPHIRE & BLACK PASS</h3>
			<div></div>
			<p>Duis condimentum convallis libero vitaer hendrerit. Aliquam erat volutpat. Vivamus purus magna.</p>
			<img class="w-100" ng-src="{{url}}assets/Images/sections/gift-card.jpg" alt="Gift Card">
		</div>
		<div class="col-md-6 d-flex flex-column justify-content-center r-sg">
			<div>
				<h6>MEMBER CARD DETAILS</h6>
			</div>
			<form>
				<div class="form-divs">
					<div class="lbl-divs">
						<label>TYPE</label>
					</div>
					<div class="lbl-optns-divs">
						<p>BLACK PASS / US$500</p>
						<p>SAPPHIRE / US$1000</p>
					</div>
				</div>
				<div class="form-divs">
					<div class="lbl-divs">
						<label>DELIVERY</label>
					</div>
					<div class="lbl-optns-divs">
						<p>EMAIL</p>
						<p>TEXT MESSAGE</p>
					</div>
				</div>
				<div class="form-divs">
					<div class="lbl-divs">
						<label>TO</label>
					</div>
					<div class="lbl-optns-inpt">
						<input placeholder="enter an email for each recipient" type="text">
					</div>
				</div>
				<div class="form-divs">
					<div class="lbl-divs">
						<label>FROM</label>
					</div>
					<div class="lbl-optns-inpt">
						<input placeholder="your name" type="text">
					</div>
				</div>
				<div class="form-divs">
					<div class="lbl-divs">
						<label>MESSAGE</label>
					</div>
					<div class="lbl-optns-inpt">
						<textarea name="name" placeholder="Hope ypu enjoy this sento gift card!" rows="3"></textarea>
					</div>
				</div>
        <div class="line-bottom-sg flex-wrap">
          <button type="button" class="add-gc w-border-radius">ADD TO SHOPPING BAG</button>
          <p>1 Black Pass: $500</p>
          <p class="terms-p">
            Gift Cards are subject to <b>Terms and Conditions</b>. Gifts Cards are not
            returnable after purchase (except as required by law). Have an Sento Gift Card?
            <b>Redeem</b> your gift card
          </p>
        </div>
			</form>
		</div>
	</div>
</div>
