<div class="col-12 pr-0 pl-0">
  <!-- MAIN SECTION -->
  <section id="main">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-5">
          </div>
          <h1>A SENTO EXPERIENCE FOR YOU</h1>
          <div class="col-md-6">
            <h6>BOOK NOW A RELAX SESSION AT SENTO</h6>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- HER SECTION -->
  <section id="her">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h1>STYLING HER</h1>
          <p>Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
            d est laborum.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- HER OPTIONS SECTION -->
  <section id="her_optns">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <p>&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;STYLING HER</p>
          <p>&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HANDS & FOOT</p>
          <p>&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;COLOR</p>
          <p>&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NAILS</p>
          <p>&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WAXING</p>
        </div>
        <div class="col-md-8">
          <div class="row pb-5" ng-repeat="n in [] | range:5">
            <div class="col-md-12 d-flex align-items-center head-item">
              <h3 class="pr-5">Bridal Make Up</h3>
              <h3 class="pl-5">US$20</h3>
              <div style="display: flex;margin: 0 0 0 8%;border: 1px solid;">
                <p style="margin: 0;border-right: 1px solid;padding: 0 10%;">10%OFF</p>
                <p style="/*! margin: 0; *//*! padding: 0 10%; */">US$18</p>
              </div>
            </div>
            <div class="col-md-12 info-item">
              <p>This is a face & Body package. Efoliation and modeling techniques are performed with tehe use of
              volcanic and sea stones in a complete treatment for purificaition, remineralist an relaxations.</p>
            </div>
            <div class="col-md-12 d-flex align-items-center btns-item">
              <p class="btnBook">BOOK THIS EXPERIENCE</p>
              <p class="msgBook">
                this item has been succesfully added to your cart!
                <br>Click <b>HERE</b> to view your cart.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- HIM SECTION -->
  <section id="him">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h1>STYLING HIM</h1>
          <p>Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
            d est laborum.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- HIM OPTIONS SECTION -->
  <section id="him_optns">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <p>&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;STYLING HIM</p>
          <p>&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HANDS & FOOT</p>
          <p>&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;COLOR</p>
          <p>&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WAXING</p>
        </div>
        <div class="col-md-8">
          <div class="row pb-5" ng-repeat="n in [] | range:5">
            <div class="col-md-12 d-flex align-items-center head-item">
              <h3 class="pr-5">Bridal Make Up</h3>
              <h3 class="pl-5">US$20</h3>
              <div style="display: flex;margin: 0 0 0 8%;border: 1px solid;">
                <p style="margin: 0;border-right: 1px solid;padding: 0 10%;">10%OFF</p>
                <p style="/*! margin: 0; *//*! padding: 0 10%; */">US$18</p>
              </div>
            </div>
            <div class="col-md-12 info-item">
              <p>This is a face & Body package. Efoliation and modeling techniques are performed with tehe use of
              volcanic and sea stones in a complete treatment for purificaition, remineralist an relaxations.</p>
            </div>
            <div class="col-md-12 d-flex align-items-center btns-item">
              <p class="btnBook">BOOK THIS EXPERIENCE</p>
              <p class="msgBook">
                this item has been succesfully added to your cart!
                <br>Click <b>HERE</b> to view your cart.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="spa">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h1>SPA</h1>
          <p>Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
            d est laborum.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- HIM OPTIONS SECTION -->
  <section id="spa_optns">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <p>&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WELLBEING MASSAGE</p>
          <p>&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ENLIGHTMENT FACIALS</p>
          <p>&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BODY TREATMENTS</p>
          <p>&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;THE EXPERIENCE</p>
          <p>&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ADD ONS</p>
        </div>
        <div class="col-md-8">
          <div class="row pb-5" ng-repeat="n in [] | range:5">
            <div class="col-md-12 d-flex align-items-center head-item">
              <h3 class="pr-5">Bridal Make Up</h3>
              <h3 class="pl-5">US$20</h3>
              <div style="display: flex;margin: 0 0 0 8%;border: 1px solid;">
                <p style="margin: 0;border-right: 1px solid;padding: 0 10%;">10%OFF</p>
                <p style="/*! margin: 0; *//*! padding: 0 10%; */">US$18</p>
              </div>
            </div>
            <div class="col-md-12 info-item">
              <p>This is a face & Body package. Efoliation and modeling techniques are performed with tehe use of
              volcanic and sea stones in a complete treatment for purificaition, remineralist an relaxations.</p>
            </div>
            <div class="col-md-12 d-flex align-items-center btns-item">
              <p class="btnBook">BOOK THIS EXPERIENCE</p>
              <p class="msgBook">
                this item has been succesfully added to your cart!
                <br>Click <b>HERE</b> to view your cart.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- SPECIAL GIFTS SECTION -->
  <!-- <section id="special_gifts" ng-include="urlTemplates+'special_gifts/gift_card.html'"> -->
  <section id="special_gifts">
    <div ng-controller="tabsSwipeCtrl as responsive">
    <div id="btn-sgHead" class="btn-group btn-group-justified">
      <div class="btn-group">
        <button type="button" class="btn btn-default" ng-click="responsive.selectPage(0)" ng-class="{'active': responsive.ngIncludeSelected.index == 0}">First</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default" ng-click="responsive.selectPage(1)" ng-class="{'active': responsive.ngIncludeSelected.index == 1}">Second</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default" ng-click="responsive.selectPage(2)" ng-class="{'active': responsive.ngIncludeSelected.index == 2}">Third</button>
      </div>
    </div>
    <div class="ngIncludeRelative">
      <div class="ngIncludeItem" ng-include="responsive.ngIncludeSelected.url" ng-class="{'moveToLeft' : responsive.moveToLeft}"></div>
    </div>
  </div>
  </section>
  <section id="seasons_gifts" style="height:100vh; background-color:gray;">

  </section>
  <section id="gallery" style="height:100vh; background-color:gray;">

  </section>
  <section ng-controller="contactusCtrl" id="contactus">
    <div class="container">
      <div class="row d-flex align-items-top">
        <div id="map" class="col-md-12">

        </div>
        <div class="col-md-12 d-flex contact-container">
          <div class="c-address">
            <p>SENTO ADDRESS</p>
            <p class="c-sub">COLONIA ESCALON 3A CALLE PONIENTE #4817 SAN SALVADOR, EL SALVADOR</p>
          </div>
          <div class="c-reserva">
            <p class="c-title">RESERVATIONS</p>
            <p class="c-sub">T. <b>(503) 2266 1000</b>
            <br>W. <b>(503) 7729 5874</b></p>
            <p>QUESTION? COMMENTS?</p>
            <button type="button">SEND COMMENTS</button>
          </div>
          <div class="c-news">
            <p class="c-title">NEWSLETTER SIGN UP</p>
            <p class="c-sub">SIGN UP FOR SPECIAL OFFERS</p>

            <div class="input-group">
              <input type="text" class="form-control" placeholder="enter your email">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button"><i class="icon ion-ios-arrow-thin-right"></i></button>
              </span>
            </div>

          </div>
          <div class="c-connect">
            <p>CONNECT WITH US</p>
            <i class="icon ion-social-facebook"></i>
            <i class="icon ion-social-instagram-outline"></i>
            <i class="icon ion-social-twitter"></i>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>
