<div class="col-12 pr-0 pl-0">
  <section id="her" style="height:100vh; background-color:blue;">
  <h1>hola</h1>
  </section>
  <section id="him" style="height:100vh; background-color:red;">

  </section>
  <section id="spa" style="height:100vh; background-color:pink;">

  </section>
  <section id="special_gifts" style="height:100vh; background-color:gray;">

  </section>
  <section id="seasons_gifts" style="height:100vh; background-color:gray;">

  </section>
  <section id="gallery" style="height:100vh; background-color:gray;">

  </section>
  <section id="contactus" style="height:100vh; background-color:gray;">

  </section>
</div>
