<div class="col-12 pr-0 pl-0">
  <!-- MAIN SECTION -->
  <section id="main">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-5">
          </div>
          <h1>A SENTO EXPERIENCE FOR YOU</h1>
          <div class="col-md-6">
            <h6>BOOK NOW A RELAX SESSION AT SENTO</h6>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- HER SECTION -->
  <section id="her">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h1>STYLING HER</h1>
          <p>Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
            d est laborum.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- HER OPTIONS SECTION -->
  <section id="her_optns">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <p>&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;STYLING HER</p>
          <p>&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HANDS & FOOT</p>
          <p>&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;COLOR</p>
          <p>&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NAILS</p>
          <p>&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WAXING</p>
        </div>
        <div class="col-md-8">
          <div class="row pb-5" ng-repeat="n in [] | range:5">
            <div class="col-md-12 d-flex align-items-center head-item">
              <h3 class="pr-5">Bridal Make Up</h3>
              <h3 class="pl-5">US$20</h3>
              <div style="display: flex;margin: 0 0 0 8%;border: 1px solid;">
                <p style="margin: 0;border-right: 1px solid;padding: 0 10%;">10%OFF</p>
                <p style="/*! margin: 0; *//*! padding: 0 10%; */">US$18</p>
              </div>
            </div>
            <div class="col-md-12 info-item">
              <p>This is a face & Body package. Efoliation and modeling techniques are performed with tehe use of
              volcanic and sea stones in a complete treatment for purificaition, remineralist an relaxations.</p>
            </div>
            <div class="col-md-12 d-flex align-items-center btns-item">
              <p class="btnBook">BOOK THIS EXPERIENCE</p>
              <p class="msgBook">
                this item has been succesfully added to your cart!
                <br>Click <b>HERE</b> to view your cart.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- HIM SECTION -->
  <section id="him">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h1>STYLING HIM</h1>
          <p>Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
            d est laborum.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- HIM OPTIONS SECTION -->
  <section id="him_optns">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <p>&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;STYLING HIM</p>
          <p>&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HANDS & FOOT</p>
          <p>&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;COLOR</p>
          <p>&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WAXING</p>
        </div>
        <div class="col-md-8">
          <div class="row pb-5" ng-repeat="n in [] | range:5">
            <div class="col-md-12 d-flex align-items-center head-item">
              <h3 class="pr-5">Bridal Make Up</h3>
              <h3 class="pl-5">US$20</h3>
              <div style="display: flex;margin: 0 0 0 8%;border: 1px solid;">
                <p style="margin: 0;border-right: 1px solid;padding: 0 10%;">10%OFF</p>
                <p style="/*! margin: 0; *//*! padding: 0 10%; */">US$18</p>
              </div>
            </div>
            <div class="col-md-12 info-item">
              <p>This is a face & Body package. Efoliation and modeling techniques are performed with tehe use of
              volcanic and sea stones in a complete treatment for purificaition, remineralist an relaxations.</p>
            </div>
            <div class="col-md-12 d-flex align-items-center btns-item">
              <p class="btnBook">BOOK THIS EXPERIENCE</p>
              <p class="msgBook">
                this item has been succesfully added to your cart!
                <br>Click <b>HERE</b> to view your cart.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="spa">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h1>SPA</h1>
          <p>Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
            d est laborum.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- HIM OPTIONS SECTION -->
  <section id="spa_optns">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <p>&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WELLBEING MASSAGE</p>
          <p>&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ENLIGHTMENT FACIALS</p>
          <p>&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BODY TREATMENTS</p>
          <p>&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;THE EXPERIENCE</p>
          <p>&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ADD ONS</p>
        </div>
        <div class="col-md-8">
          <div class="row pb-5" ng-repeat="n in [] | range:5">
            <div class="col-md-12 d-flex align-items-center head-item">
              <h3 class="pr-5">Bridal Make Up</h3>
              <h3 class="pl-5">US$20</h3>
              <div style="display: flex;margin: 0 0 0 8%;border: 1px solid;">
                <p style="margin: 0;border-right: 1px solid;padding: 0 10%;">10%OFF</p>
                <p style="/*! margin: 0; *//*! padding: 0 10%; */">US$18</p>
              </div>
            </div>
            <div class="col-md-12 info-item">
              <p>This is a face & Body package. Efoliation and modeling techniques are performed with tehe use of
              volcanic and sea stones in a complete treatment for purificaition, remineralist an relaxations.</p>
            </div>
            <div class="col-md-12 d-flex align-items-center btns-item">
              <p class="btnBook">BOOK THIS EXPERIENCE</p>
              <p class="msgBook">
                this item has been succesfully added to your cart!
                <br>Click <b>HERE</b> to view your cart.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- SPECIAL GIFTS SECTION -->
  <section id="special_gifts">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-center l-gc">
          <h3>GIFT CARD</h3>
          <div></div>
          <p>Duis condimentum convallis libero vitaer hendrerit.
            Aliquam erat volutpat. Vivamus purus magna.</p>
          <img class="w-100" ng-src="{{url}}assets/Images/sections/gift-card.jpg" alt="Gift Card">
        </div>
        <div class="col-md-6 r-gc">
          <div class="col-md-12 d-flex flex-column justify-content-center">
            <p class="title-gcd">GIFT CARDS DETAILS</p>
            <form>
              <div class="form-group d-flex align-items-center">
                <label>AMOUNT</label><p>$25</p><p>$50</p><p>$75</p><p>$150</p><p>ENTER AMOUNT</p>
              </div>
              <div class="form-group d-flex align-items-center">
                <label>The minimum amount is $15.00</label>
              </div>
              <div class="form-group d-flex align-items-center">
                <label>DELIVERY</label><p>EMAIL</p><p>TEXT MESSAGE</p>
              </div>
              <div class="form-group d-flex align-items-center">
                <label>TO</label><input type="text"  placeholder="enter an email for each recipient">
              </div>
              <div class="form-group d-flex align-items-center">
                <label>FROM</label><input type="text" placeholder="your name">
              </div>
              <div class="form-group d-flex align-items-center">
                <label>MESSAGE</label>
                <textarea rows="3" placeholder="Hope you enjoy this sento gift card!"></textarea>
              </div>
            </form>
            <div style="border-bottom: 1px solid;width: 80%;margin: 5% 0 0 0;"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="seasons_gifts" style="height:100vh; background-color:gray;">

  </section>
  <section id="gallery" style="height:100vh; background-color:gray;">

  </section>
  <section id="contactus" style="height:100vh; background-color:gray;">

  </section>
</div>
